<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>平行志愿模拟录取系统-拟录取表</title>

</head>
<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">

        <!--侧栏-->
        <el-aside width="200px" style="background-color: rgb(238, 241, 246);font-weight:bold;">
            <el-menu>
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>志愿信息类</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1">
                            <p><a href="index.html">志愿信息</a></p>
                        </el-menu-item>
                        <el-menu-item index="1-2">
                            <p><a href="plan.html">招生计划</a></p>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-setting"></i>录取记录类</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1">
                            <a href="admission.html">拟录取表</a>
                        </el-menu-item>
                        <el-menu-item index="2-2">
                            <a href="data.html">统计数据</a>
                        </el-menu-item>
                        <el-menu-item index="2-3">
                            <a href="back.html">退档队列</a>
                        </el-menu-item>
                    </el-menu-item-group>

                </el-submenu>
            </el-menu>
        </el-aside>

        <!--头部-->
        <el-container>
            <el-header class="header">
                <span>平行志愿模拟录取系统-拟录取表</span>
                <span>欢迎您！</span>
            </el-header>

            <!--中间主题表格-->
            <el-main>
                <!--搜索表单-->
                <el-form :inline="true" :model="absoluteTable" class="demo-form-inline">

                    <el-form-item label="姓名">
                        <el-input v-model="absoluteTable.name" placeholder="姓名"></el-input>
                    </el-form-item>

                    <el-form-item label="学院">
                        <el-input v-model="absoluteTable.college" placeholder="学院"></el-input>
                    </el-form-item>

                    <el-form-item label="专业">
                        <el-input v-model="absoluteTable.major" placeholder="专业"></el-input>
                    </el-form-item>

                    <el-form-item label="录取情况">
                        <el-input v-model="absoluteTable.record" placeholder="录取情况"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="">查询</el-button>
                        <el-button type="success" @click="">导出</el-button>
                    </el-form-item>
                </el-form>

                <!--表格-->
                <template>
                    <el-table
                            :data="admission"
                            style="width: 100%"
                            :row-class-name="tableRowClassName">
                        <el-table-column
                                type="index">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="姓名"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="score"
                                label="投档成绩"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adOne"
                                label="专业志愿1"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adTwo"
                                label="专业志愿2"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adThree"
                                label="专业志愿3"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adFour"
                                label="专业志愿4"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adFive"
                                label="专业志愿5"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adSix"
                                label="专业志愿6"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                label="服从调剂"
                                align="center">
                            <template slot-scope="scope">
                                {{ getSwapStr(scope.row.is_swap) }}
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="stuRank"
                                label="学生排位"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="language"
                                label="外语语种"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="bodyTest"
                                label="体检备注"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                label="录取状态"
                                align="center">
                            <template slot-scope="scope">
                                {{ getStatusStr(scope.row.status) }}
                            </template>
                        </el-table-column>
                    </el-table>
                </template>

                <!--分页工具条-->
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[20, 50, 100, 150]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>

            </el-main>
        </el-container>
    </el-container>

</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/admission.css">
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",

        //生命周期相关方法,页面加载完成后执行的函数
        mounted() {
            this.selectAll();
        },

        //方法
        methods: {

            selectAll() {
                axios({
                    method: "get",
                    url: "http://localhost:8080/stu/index?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize
                }).then((resp) => {
                    // 设置表格数据
                    this.admission = resp.data.data.records;
                    // 设置总条目数
                    this.totalCount = resp.data.data.total;
                })
            },

            // 分页工具条方法
            handleSizeChange(val) {
                // 重新设置每页显示的条数
                this.pageSize = val;
                //调用 selectAll 函数重新分页查询数据
                this.selectAll();
            },
            handleCurrentChange(val) {
                // 重新设置当前页码
                this.currentPage = val;
                //调用 selectAll 函数重新分页查询数据
                this.selectAll();
            },
            //表格变色方法
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 2 === 1) {
                    return 'success-row';
                } else {
                    return 'warning-row';
                }
                return '';
            },
            //表格复选框绑定事件
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },
            //搜索表单方法
            onSubmit() {
                //console.log(this.history);
                this.selectAll();
            },

            // 调剂状态数值转为字符串
            getSwapStr(swap) {
                if (swap == 0) {
                    return '否'
                } else {
                    return '是'
                }
            },

            // 录取状态数值转为字符串
            getStatusStr(status) {
                if (status == 0) {
                    return '未录取'
                } else if (status == 1) {
                    return '已录取'
                } else if (status == 2) {
                    return '退档'
                } else {
                    return '调剂录取'
                }
            },

        },

        //数据
        data() {
            return {
                //按钮点击权限
                disabled: true,
                // 总记录数量
                totalCount: 10,
                // 当前页码
                currentPage: 1,
                // 每页记录数
                pageSize: 20,
                // 删除功能对话框
                dialogVisible: false,
                // 搜索表单数据
                absoluteTable: {
                    name: '',
                    college: '',
                    majoe: '',
                    record: ''
                },
                // 表格数据
                admission: [{
                    stuName: "小黑",
                    score: "599",
                    stuRank: "25888",
                    language: "英语",
                    professionName: "日语",
                    collegeName: '外国语学院',
                    comment: '',
                    location: '广州校区'
                }, {
                    stuName: "小黑",
                    score: "599",
                    stuRank: "25888",
                    language: "英语",
                    professionName: "日语",
                    collegeName: '外国语学院',
                    comment: '',
                    location: '广州校区'
                }, {
                    stuName: "小黑",
                    score: "599",
                    stuRank: "25888",
                    language: "英语",
                    professionName: "日语",
                    collegeName: '外国语学院',
                    comment: '',
                    location: '广州校区'
                }]
            }
        }
    })
</script>
</body>
</html>