<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="refresh" content="20">-->
    <title>平行志愿模拟录取系统-志愿信息</title>
</head>
<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">

        <!--侧栏-->
        <el-aside width="200px" style="background-color: rgb(238, 241, 246);font-weight:bold;">
            <el-menu>
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>志愿信息类</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1">
                            <p><a href="index.html">志愿信息</a></p>
                        </el-menu-item>
                        <el-menu-item index="1-2">
                            <p><a href="plan.html">招生计划</a></p>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-setting"></i>录取记录类</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1">
                            <a href="admission.html">录取情况</a>
                        </el-menu-item>
                        <el-menu-item index="2-2">
                            <a href="data.html">统计数据</a>
                        </el-menu-item>
                        <el-menu-item index="2-3">
                            <a href="back.html">退档队列</a>
                        </el-menu-item>
                    </el-menu-item-group>

                </el-submenu>
            </el-menu>
        </el-aside>

        <!--头部-->
        <el-container>
            <el-header class="header">
                <span>平行志愿模拟录取系统-志愿信息</span>
                <span>欢迎您！</span>
            </el-header>

            <!--中间主题表格-->
            <el-main>
                <!--导入按钮-->
                <el-row>
                    <el-button type="success" @click="startAd" style="display: inline;margin-right: 20px">开始录取</el-button>
                    <el-upload
                            style="display: inline"
                            class="upload-demo"
                            name="file"
                            action="http://localhost:8080/stu/upload"
                            :on-preview="handlePreview"
                            :on-progress="wait"
                            :on-success="refresh"
                            :on-remove="handleRemove"
                            :before-remove="beforeRemove"
                            multiple
                            :limit="3"
                            :on-exceed="handleExceed"
                            :file-list="fileList">
                        <el-button size="middle" type="primary">志愿信息导入</el-button>
                    </el-upload>

                </el-row>

                <!--表格-->
                <template>
                    <el-table
                            v-loading="loading"
                            element-loading-text="录取工作进行中"
                            element-loading-spinner="el-icon-loading"
                            element-loading-background="rgba(0, 0, 0, 0.8)"
                            :data="stu"
                            style="width: 100%"
                            :row-class-name="tableRowClassName">
                        <el-table-column
                                type="index">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="姓名"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="score"
                                label="投档成绩"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adOne"
                                label="专业志愿1"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adTwo"
                                label="专业志愿2"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adThree"
                                label="专业志愿3"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adFour"
                                label="专业志愿4"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adFive"
                                label="专业志愿5"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="adSix"
                                label="专业志愿6"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                label="服从调剂"
                                align="center">
                            <template slot-scope="scope">
                                {{ getSwapStr(scope.row.isSwap) }}
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="stuRank"
                                label="学生排位"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="language"
                                label="外语语种"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="bodyTest"
                                label="体检备注"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                label="修改"
                                align="center">
                            <el-row slot-scope="scope">
                                <el-button type="warning" plain @click="handleUpdate(scope.row)">修改</el-button>
                            </el-row>
                        </el-table-column>
                        <el-table-column
                                label="删除"
                                align="center">
                            <el-row  slot-scope="scope">
                                <el-button type="danger" plain @click="handleDelete(scope.row)">删除</el-button>
                            </el-row>
                        </el-table-column>

                    </el-table>
                </template>

                <!--分页工具条-->
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[50, 100, 150, 200]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>


                <div class="add-form">
                    <el-dialog title="修改学生志愿" :visible.sync="dialogFormVisible4Edit">
                        <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                                 label-width="100px">
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="姓名" prop="name">
                                        <el-input v-model="formData.name"  readonly="readonly"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="投档成绩" prop="score">
                                        <el-input v-model="formData.score" readonly="readonly"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="学生排位" prop="stuRank">
                                        <el-input v-model="formData.stuRank" readonly="readonly"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="服从调剂" prop="isSwap">
                                        <el-input v-model="formData.isSwap"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="专业志愿1" prop="adOne">
                                        <el-input v-model="formData.adOne"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="专业志愿2"  prop="adTwo">
                                        <el-input v-model="formData.adTwo"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="专业志愿3" prop="adThree">
                                        <el-input v-model="formData.adThree"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="专业志愿4"  prop="adFour">
                                        <el-input v-model="formData.adFour"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="专业志愿5" prop="adFive">
                                        <el-input v-model="formData.adFive"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="专业志愿6"  prop="adSix">
                                        <el-input v-model="formData.adSix"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                            <el-button type="primary" @click="handleEdit()">确定</el-button>
                        </div>
                    </el-dialog>
                </div>


            </el-main>
        </el-container>
    </el-container>

</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/index.css">
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",

        //生命周期相关方法,页面加载完成后执行的函数
        mounted() {
            this.selectAll();
        },

        //方法
        methods: {

            wait(){
                this.$message('数据导入中，请稍候');
            },

            refresh(){
                this.fileList = [];
                this.selectAll();
            },

            //查询所有志愿信息
            selectAll() {
                axios({
                    method: "get",
                    url: "http://localhost:8080/stu/index?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize
                }).then((resp) => {
                    // if(resp.data.success){
                    //     this.loadind = false;
                    //     console.log("1")
                    // }
                    // // 设置表格数据
                    this.stu = resp.data.data.records;
                    // // 设置总条目数
                    this.totalCount = resp.data.data.total;
                })
            },

            // 分页工具条方法
            handleSizeChange(val) {
                // 重新设置每页显示的条数
                this.pageSize = val;
                //调用 selectAll 函数重新分页查询数据
                this.selectAll();
            },
            handleCurrentChange(val) {
                // 重新设置当前页码
                this.currentPage = val;
                //调用 selectAll 函数重新分页查询数据
                this.selectAll();
            },

            //表格相关方法
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 2 === 1) {
                    return 'success-row';
                } else {
                    return 'warning-row';
                }
                return '';
            },

            //下面是志愿信息上传的方法
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            // 文件上传的方法
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },

            // 调剂状态数值转为字符串
            getSwapStr(swap) {
                if (swap == 0) {
                    return '否'
                } else if(swap == 1){
                    return '是'
                }
            },

            // 录取状态数值转为字符串
            getStatusStr(status) {
                if (status == 0) {
                    return '未录取'
                } else if (status == 1) {
                    return '已录取'
                } else if (status == 2) {
                    return '退档'
                } else {
                    return '调剂录取'
                }
            },

            // 开始录取
            startAd(){
                this.$message('录取工作进行中');
                this.loading = true;
                // 提示录取工作进行中
                axios({
                    method: "get",
                    url: "http://localhost:8080/admission/startAd"
                }).then((resp) => {
                    this.loading = false;
                    if (resp.data.success){
                        this.$message({
                            message: '录取工作已完成',
                            type: 'success'
                        });
                    }
                })
            },

            //弹出编辑窗口
            handleUpdate(row) {
                axios({
                    method: "get",
                    url: "http://localhost:8080/stu/getOne?id=" + row.id
                }).then((resp) => {
                    // 查到了学生信息
                    if (resp.data.success){
                        this.formData = resp.data.data;
                        this.dialogFormVisible4Edit = true;
                    } else{
                        this.$message.error(resp.data.errorMsg);
                    }
                })
            },

            //编辑
            handleEdit() {
                console.log(this.formData);
                //update，传对象，formdata
                axios({
                    method: "post",
                    url: "http://localhost:8080/stu/update",
                    data: this.formData
                }).then((resp) => {
                    if (resp.data.success) {
                        this.dialogFormVisible4Edit = false;
                        this.$message.success("修改成功");
                    } else {
                        this.$message.error(res.data.errorMsg);
                    }
                }).finally(()=>{
                    this.selectAll();
                });
            },

            // 删除
            handleDelete(row) {
                //1.弹出提示框
                this.$confirm("此操作永久删除当前数据，是否继续？","提示",{
                    type:'info'
                }).then(()=>{
                    axios({
                        method: "post",
                        url: "http://localhost:8080/stu/delete?stuId=" + row.id,
                    }).then((resp) => {
                        if (resp.data.success) {
                            this.dialogFormVisible4Edit = false;
                            this.$message.success("修改成功");
                        } else {
                            this.$message.error(resp.data.errorMsg);
                        }
                        this.selectAll();
                    })
                }).catch(()=>{
                    //3.取消删除
                    this.$message.info("取消删除操作");
                });
            }

        },

        //数据
        data() {
            return {
                //按钮权限
                disabled: true,
                //被选中的cid数组
                selectedCids: [],
                // 总记录数量
                totalCount: 10,
                // 当前页码
                currentPage: 1,
                // 每页记录数
                pageSize: 50,
                // 删除功能对话框
                dialogVisible: false,
                //点击上传功能
                fileList: [],
                // 表格数据
                stu: [{
                    id: '1',
                    name: "小黑",
                    score: "599",
                    adOne: '材料类',
                    adTwo: '计算机类',
                    adThree: '自动化类',
                    adFour: '电气',
                    adFive: '机械类',
                    adSix: '土木类',
                    isSwap: '1',
                    stuRank: '25888',
                    language: '英语',
                    bodyTest: '24,25',
                    status: '0'
                }],
                formData: {},//表单数据
                dialogFormVisible: false,//控制表单是否可见
                dialogFormVisible4Edit: false,//编辑表单是否可见
                rules: {//校验规则
                    adOne: [{required: true, message: '专业志愿1为必填项', trigger: 'blur'}]
                },
                loading: false
            }
        }
    })
</script>
</body>
</html>