<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="refresh" content="20">-->
    <title>平行志愿模拟录取系统-招生计划</title>
</head>
<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">

        <!--侧栏-->
        <el-aside width="200px" style="background-color: rgb(238, 241, 246);font-weight:bold;">
            <el-menu>
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>志愿信息类</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1">
                            <p><a href="index.html">志愿信息</a></p>
                        </el-menu-item>
                        <el-menu-item index="1-2">
                            <p><a href="plan.html">招生计划</a></p>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-setting"></i>录取记录类</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1">
                            <a href="admission.html">录取情况</a>
                        </el-menu-item>
                        <el-menu-item index="2-2">
                            <a href="data.html">统计数据</a>
                        </el-menu-item>
                        <el-menu-item index="2-3">
                            <a href="back.html">退档队列</a>
                        </el-menu-item>
                    </el-menu-item-group>

                </el-submenu>
            </el-menu>
        </el-aside>

        <!--头部-->
        <el-container>
            <el-header class="header">
                <span>平行志愿模拟录取系统-招生计划</span>
                <span>欢迎您！</span>
            </el-header>

            <!--中间主题表格-->
            <el-main>
                <!--上传按钮-->
                <el-row>
                    <el-button type="primary" @click="handleCreate" style="display: inline;margin-right: 20px">新增单个专业计划</el-button>
                    <el-upload
                            class="upload-demo"
                            style="display: inline"
                            name="file"
                            action="http://localhost:8080/plan/upload"
                            :on-preview="handlePreview"
                            :on-progress="wait"
                            :on-success="refresh"
                            :on-remove="handleRemove"
                            :before-remove="beforeRemove"
                            multiple
                            :limit="3"
                            :on-exceed="handleExceed"
                            :file-list="fileList">
                        <el-button size="middle" type="primary">招生计划批量导入</el-button>
                    </el-upload>
                </el-row>

                <!--表格-->
                <template>
                    <el-table
                            :data="plan"
                            :row-class-name="tableRowClassName">
                        <el-table-column
                                prop="groupId"
                                label="专业组号"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="professionNum"
                                label="专业代号"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="professionName"
                                label="专业名称"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="collegeName"
                                label="学院名称"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="planNum"
                                label="招生计划数"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="comment"
                                label="专业备注"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="location"
                                label="办学地点"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="language"
                                label="外语语种"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="testLimit1"
                                label="体检受限1"
                                align="center">
                        </el-table-column>
                        <el-table-column
                                prop="testLimit2"
                                label="体检受限2"
                                align="center">
                        </el-table-column>

                        <el-table-column
                                label="修改"
                                align="center">
                            <el-row slot-scope="scope">
                                <el-button type="warning" plain @click="handleUpdate(scope.row)">修改</el-button>
                            </el-row>
                        </el-table-column>
                        <el-table-column
                                label="删除"
                                align="center">
                            <el-row slot-scope="scope">
                                <el-button type="danger" plain @click="handleDelete(scope.row)">删除</el-button>
                            </el-row>
                        </el-table-column>
                    </el-table>
                </template>

                <!--分页工具条-->
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 15, 20]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>

                <div class="add-form">
                    <el-dialog title="修改招生计划" :visible.sync="dialogFormVisible4Edit">
                        <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                                 label-width="100px">
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="专业组号" prop="groupId">
                                        <el-input v-model="formData.groupId"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="专业代号" prop="professionNum">
                                        <el-input v-model="formData.professionId"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="专业名称" prop="professionName">
                                        <el-input v-model="formData.professionName"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="学院名称" prop="collegeName">
                                        <el-input v-model="formData.collegeName"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="招生计划数" prop="planNum">
                                        <el-input v-model="formData.planNum"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="专业备注"  prop="comment">
                                        <el-input v-model="formData.comment"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="办学地点" prop="location">
                                        <el-input v-model="formData.location"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="外语语种"  prop="language">
                                        <el-input v-model="formData.language"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="体检受限1" prop="testLimit1">
                                        <el-input v-model="formData.testLimit1"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="体检受限2"  prop="testLimit2">
                                        <el-input v-model="formData.testLimit2"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                            <el-button type="primary" @click="handleEdit()">确定</el-button>
                        </div>
                    </el-dialog>
                </div>

                <!--新增专业计划窗口-->
                <div class="add-form">
                    <el-dialog title="新增专业计划" :visible.sync="dialogFormVisible">
                        <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                 label-width="100px">
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="专业组号" prop="groupId">
                                        <el-input v-model="formData.groupId"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="专业代号" prop="professionNum">
                                        <el-input v-model="formData.professionId"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="专业名称" prop="professionName">
                                        <el-input v-model="formData.professionName"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="学院名称" prop="collegeName">
                                        <el-input v-model="formData.collegeName"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="招生计划数" prop="planNum">
                                        <el-input v-model="formData.planNum"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="专业备注"  prop="comment">
                                        <el-input v-model="formData.comment"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="办学地点" prop="location">
                                        <el-input v-model="formData.location"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="外语语种"  prop="language">
                                        <el-input v-model="formData.language"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="12">
                                    <el-form-item label="体检受限1" prop="testLimit1">
                                        <el-input v-model="formData.testLimit1"/>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="体检受限2"  prop="testLimit2">
                                        <el-input v-model="formData.testLimit2"/>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取消</el-button>
                            <el-button type="primary" @click="handleAdd()">确定</el-button>
                        </div>
                    </el-dialog>
                </div>

            </el-main>
        </el-container>
    </el-container>

</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/index.css">
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",

        //生命周期相关方法,页面加载完成后执行的函数
        mounted() {
            this.selectAll();
        },

        //方法
        methods: {

            wait(){
                this.$message({
                    message: '数据导入中，请稍后',
                    duration: 1000
                });
            },

            refresh(){
                this.fileList = [];
                this.selectAll();
            },

            //查询招生计划信息
            selectAll() {
                axios({
                    method: "get",
                    url: "http://localhost:8080/plan/index?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize
                }).then((resp) => {
                    // 设置表格数据
                    this.plan = resp.data.data.records;
                    // 设置总条目数
                    this.totalCount = resp.data.data.total;
                })
            },

            // 分页工具条方法
            handleSizeChange(val) {
                // 重新设置每页显示的条数
                this.pageSize = val;
                //调用 selectAll 函数重新分页查询数据
                this.selectAll();
            },
            handleCurrentChange(val) {
                // 重新设置当前页码
                this.currentPage = val;
                //调用 selectAll 函数重新分页查询数据
                this.selectAll();
            },

            //表格相关方法
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 2 === 1) {
                    return 'success-row';
                } else {
                    return 'warning-row';
                }
                return '';
            },

            //表格复选框绑定事件
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },

            //下面是志愿信息上传的方法
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },

            //弹出编辑窗口
            handleUpdate(row) {
                axios({
                    method: "get",
                    url: "http://localhost:8080/plan/getOne?id=" + row.id
                }).then((resp) => {
                    // 查到了学生信息
                    if (resp.data.success){
                        this.formData = resp.data.data;
                        this.dialogFormVisible4Edit = true;
                    } else{
                        this.$message.error(resp.data.errorMsg);
                    }
                })
            },

            //编辑
            handleEdit() {
                console.log(this.formData);
                //update，传对象，formdata
                axios({
                    method: "post",
                    url: "http://localhost:8080/plan/update",
                    data: this.formData
                }).then((resp) => {
                    if (resp.data.success) {
                        this.dialogFormVisible4Edit = false;
                        this.$message.success("修改成功");
                    } else {
                        this.$message.error(res.data.errorMsg);
                    }
                }).finally(()=>{
                    this.selectAll();
                });
            },

            // 删除
            handleDelete(row) {
                //1.弹出提示框
                this.$confirm("此操作永久删除当前数据，是否继续？","提示",{
                    type:'info'
                }).then(()=>{
                    axios({
                        method: "post",
                        url: "http://localhost:8080/plan/delete?planId=" + row.id,
                    }).then((resp) => {
                        if (resp.data.success) {
                            this.dialogFormVisible4Edit = false;
                            this.$message.success("删除成功");
                        } else {
                            this.$message.error(resp.data.errorMsg);
                        }
                        this.selectAll();
                    })
                }).catch(()=>{
                    //3.取消删除
                    this.$message.info("取消删除操作");
                });
            },

            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },

            //添加
            handleAdd() {
                //发送添加异步请求，根据结果提示成功或者失败
                axios({
                    method: "post",
                    url: "http://localhost:8080/plan/add",
                    data: this.formData
                }).then((resp) => {
                    if (resp.data.success) {
                        this.dialogFormVisible = false;
                        this.$message.success("添加成功");
                    } else {
                        this.$message.error(res.data.errorMsg);
                    }
                }).finally(()=>{
                    this.selectAll();
                });
            },

        },

        //数据
        data() {
            return {
                //按钮权限
                disabled: true,
                //被选中的cid数组
                selectedCids: [],
                // 总记录数量
                totalCount: 10,
                // 当前页码
                currentPage: 1,
                // 每页记录数
                pageSize: 5,
                // 删除功能对话框
                dialogVisible: false,
                //点击上传功能
                fileList: [],
                // 添加窗口
                dialogFormVisible: false,
                // 表单数据
                formData: {},
                // 表格数据
                plan: [{
                    id: '1',
                    groupId: "201",
                    professionId: "001",
                    professionName: '外国语言文学类',
                    collegeName: '外国语学院',
                    planNum: '80',
                    comment: '',
                    location: '广州地区',
                    language: '英语',
                    testLimit1: '',
                    testLimit2: '',
                }],
                formData: {},//表单数据
                dialogFormVisible: false,//控制表单是否可见
                dialogFormVisible4Edit: false,//编辑表单是否可见
                rules: {//校验规则
                    groupId: [{required: true, message: '专业组号为必填项', trigger: 'blur'}],
                    professionNum: [{required: true, message: '专业代号为必填项', trigger: 'blur'}],
                    professionName: [{required: true, message: '专业名称为必填项', trigger: 'blur'}],
                    collegeName: [{required: true, message: '学院名称为必填项', trigger: 'blur'}],
                    planNum: [{required: true, message: '招生计划数为必填项', trigger: 'blur'}],
                    location: [{required: true, message: '办学地点为必填项', trigger: 'blur'}]
                }
            }
        }
    })
</script>
</body>
</html>